# antiX based on SimplyMEPIS

ISOFILE=antiX-M8.5-686.iso
URL=http://mirror.cs.vt.edu/pub/MEPIS/antix/antiX-M8.5-486.iso
VER=antix-8.5

#install
prepareiso $ISOFILE $URL
checksum /iso/$ISOFILE 406b3d3d28c8442c1bf1c1aafb7906d3
copyfromiso /boot/initrd.gz /boot/mepis/initrd-${VER}.gz
geninitrd_mount /boot/mepis/initrd-${VER}.gz /boot/mepis/initrd-mod-${VER}.gz /boot/mepis/mepis-8.5.01.patch
rmfile /boot/mepis/initrd-${VER}.gz

#remove
rmfile /boot/mepis/initrd-${VER}.gz
rmfile /boot/mepis/initrd-mod-${VER}.gz
purgefile /iso/$ISOFILE

#menu1
#title antiX M8.5
#kernel /boot/mepis/vmlinuz-${VER} rootdelay=20 fromiso=/iso/$ISOFILE
#initrd /boot/mepis/initrd-mod-${VER}.gz

#menu
menuentry "antiX M8.5" {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux16 (loop)/boot/vmlinuz apm=power-off vga=791 fromiso=/iso/$ISOFILE --
  echo "Loading modified initrd.."
  initrd16 /boot/mepis/initrd-mod-${VER}.gz
}
