ISOFILE=bt4-final.iso
URL=http://www.backtrack-linux.org/download.php?fname=bt4f

#install
prepareiso $ISOFILE $URL
checksum /iso/$ISOFILE af139d2a085978618dc53cabc67b9269 md5
copyfromiso /boot/initrd.gz /boot/backtrack/initrd-4.gz
geninitrd /boot/backtrack/initrd-4.gz /boot/backtrack/initrd-mod-4.gz /boot/backtrack/backtrack-4.patch

#remove
rmfile /boot/backtrack/initrd-4.gz
rmfile /boot/backtrack/initrd-mod-4.gz
purgefile /iso/$ISOFILE

#menu
menuentry "back|track 4 final" {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/boot/vmlinuz loop=/iso/$ISOFILE boot=casper nopersistent rw vga=0x317 --
  echo "Loading modified initrd.."
  initrd /boot/backtrack/initrd-mod-4.gz
}
