ISOFILE=CentOS-5.5-i386-LiveCD.iso
BASEURL=http://ftp.osuosl.org/pub/centos/5.5/isos/i386
prepareiso $ISOFILE $BASEURL
geninitrd_centos centos 5.5 $ISOFILE centos/centos-5.5.patch

#menu title CentOS 5.5 i386
#menu kernel /centos/vmlinuz-5.5 root=LABEL=MULTIBOOT rootfstype=auto ro quiet liveimg iso-scan/filename=iso/CentOS-5.5-i386-LiveCD.iso
#menu initrd /centos/initrd-mod-5.5.gz
