#global
ISOFILE=CentOS-5.5-i386-LiveCD-Release2.iso
BASEURL=http://ftp.osuosl.org/pub/centos/5.5/isos/i386/$ISOFILE
MD5=1b5d7e5ff8f1d90c600a973a8e000877
VER=5.5-2

#install
prepareiso $ISOFILE $BASEURL
checksum /iso/$ISOFILE $MD5
geninitrd @iso/isolinux/initrd0.img /boot/centos/initrd-mod-${VER}.gz /boot/centos/centos-5.5.patch

#remove
rmfile /boot/centos/initrd-mod-${VER}.gz
purgefile /iso/$ISOFILE

#menu
menuentry "CentOS ${VER} i386" {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/isolinux/vmlinuz0 root=LABEL=MULTIBOOT rootfstype=auto ro quiet liveimg iso-scan/filename=iso/$ISOFILE
  echo "Loading modified initrd.."
  initrd /boot/centos/initrd-mod-${VER}.gz
}
