ISOFILE=debian-live-504-i386-standard.iso
URL=http://cdimage.debian.org/cdimage/archive/5.0.4-live/i386/iso-cd/debian-live-504-i386-standard.iso
VER=5.0.4-std

#install
prepareiso $ISOFILE $URL
checksum /iso/$ISOFILE 3b55e4db7b8b6f5446534ba60a671a17
#copyfromiso /live/vmlinuz /boot/debian/vmlinuz-${VER}
copyfromiso /live/initrd.img /boot/debian/initrd-${VER}.img
geninitrd /boot/debian/initrd-${VER}.img /boot/debian/initrd-mod-${VER}.gz /boot/debian/debian-5.0.4.patch

#remove
#rmfile /boot/debian/vmlinuz-${VER}
rmfile /boot/debian/initrd-${VER}.img
rmfile /boot/debian/initrd-mod-${VER}.gz
purgefile /iso/$ISOFILE

#menu
menuentry "Debian Live 5.0.4 Standard" {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/live/vmlinuz boot=live union=aufs iso-scan/filename=iso/$ISOFILE --
  echo "Loading modified initrd.."
  initrd /boot/debian/initrd-mod-${VER}.gz
}
