ISOFILE=debian-live-504-i386-gnome-desktop.iso
URL=http://cdimage.debian.org/cdimage/archive/5.0.4-live/i386/iso-cd/debian-live-504-i386-gnome-desktop.iso
VER=5.0.4-gnome

#install
prepareiso $ISOFILE $URL
checksum /iso/$ISOFILE 027bfd5d545c22cfda4026406c3f0b89
copyfromiso /live/initrd.img /boot/debian/initrd-${VER}.img
geninitrd /boot/debian/initrd-${VER}.img /boot/debian/initrd-mod-${VER}.gz /boot/debian/debian-5.0.4.patch
rmfile /boot/debian/initrd-${VER}.img

#remove
rmfile /boot/debian/initrd-${VER}.img
rmfile /boot/debian/initrd-mod-${VER}.gz
purgefile /iso/$ISOFILE

#menu
menuentry "Debian Live 5.0.4 GNOME Desktop" {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/live/vmlinuz boot=live union=aufs iso-scan/filename=iso/$ISOFILE --
  echo "Loading modified initrd.."
  initrd /boot/debian/initrd-mod-${VER}.gz
}
