ISOFILE=debian-live-504-i386-gnome-desktop.iso
BASEURL=http://cdimage.debian.org/cdimage/release/5.0.4-live/i386/iso-cd/$ISOFILE
VER=5.0.4

#install
prepareiso $ISOFILE $BASEURL
checksum /iso/$ISOFILE 777a309650cf48d4a0c0b44baa635b58b92d4436 sha1
#copyfromiso /live/vmlinuz /boot/debian/vmlinuz-${VER}
copyfromiso /live/initrd.img /boot/debian/initrd-${VER}.img
geninitrd /boot/debian/initrd-${VER}.img /boot/debian/initrd-mod-${VER}.gz /boot/debian/debian-5.0.4.patch

#remove
#rmfile /boot/debian/vmlinuz-${VER}
rmfile /boot/debian/initrd-${VER}.img
rmfile /boot/debian/initrd-mod-${VER}.gz
purgefile /iso/$ISOFILE

#menu
menuentry "Debian Live 5.0.4 GNOME Desktop" {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/live/vmlinuz boot=live union=aufs iso-scan/filename=iso/$ISOFILE --
  echo "Loading modified initrd.."
  initrd /boot/debian/initrd-mod-${VER}.gz
}
