# Fedora Project
#  http://fedoraproject.org/

ISOFILE=Fedora-12-i686-Live.iso
URL=http://download.fedoraproject.org/pub/fedora/linux/releases/12/Live/i686/$ISOFILE
SUM=5ad27455df004ee23fbc5a05dfa039a14e59956dccf4e767d493601e0bfa4001
VER=12

#install
prepareiso $ISOFILE $URL
checksum iso/$ISOFILE $SUM sha256
copyfromiso /isolinux/initrd0.img /boot/fedora/initrd-${VER}.img
geninitrd /boot/fedora/initrd-${VER}.img /boot/fedora/initrd-mod-${VER}.gz /boot/fedora/fedora-12.patch

#remove
rmfile /boot/fedora/initrd-${VER}.img
rmfile /boot/fedora/initrd-mod-${VER}.gz
purgefile /iso/$ISOFILE

#menu
menuentry "Fedora ${VER}" {
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/isolinux/vmlinuz0 root=live:LABEL=MULTIBOOT liveimg iso-scan/filename=iso/$ISOFILE rootfstype=auto ro rhgb rd_NO_LUKS rd_NO_MD noiswmd
  echo "Loading modified initrd.."
  initrd /boot/fedora/initrd-mod-${VER}.gz
  savedefault
}
