# Gentoo Live
#  http://www.gentoo.org/

ISOFILE=livedvd-x86-amd64-32ul-11.0.iso
URL=http://mirrors.se.kernel.org/gentoo//releases/x86/11.0/livedvd-x86-amd64-32ul-11.0.iso
SUM=7b4c2acd6bd8df9b3e2ea074178e7185a65f1146
VER=11.0

#install
prepareiso $ISOFILE $URL
checksum /iso/$ISOFILE $SUM sha1
#geninitrd @iso/boot/gentoo.igz /boot/gentoo/initrd-mod-${VER}.gz /boot/sabayon/sabayon-5.2.patch

#remove
#rmfile /boot/gentoo/initrd-mod-${VER}.gz
purgefile /iso/$ISOFILE

#menu
menuentry "Gentoo LiveDVD ${VER}" {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/boot/gentoo root=/dev/ram0 init=/linuxrc dokeymap aufs looptype=squashfs loop=/image.squashfs cdroot vga=791 splash=silent,theme:livecd-10 console=tty1 quiet isoboot=iso/${ISOFILE} --
  echo "Loading modified initrd.."
  initrd (loop)/boot/gentoo.igz
}
