ISOFILE=linuxmint-9-gnome-cd-i386.iso
BASEURL=http://mirror.amarillolinux.com/linuxmint/stable/9
prepareiso $ISOFILE $BASEURL

#menu
title Linux Mint 9 i386
find --set-root /iso/linuxmint-9-gnome-cd-i386.iso
map /iso/linuxmint-9-gnome-cd-i386.iso (0xff)
map --hook
root (0xff)
kernel /casper/vmlinuz file=/cdrom/preseed/mint.seed boot=casper iso-scan/filename=/iso/linuxmint-9-gnome-cd-i386.iso splash
initrd /casper/initrd.lz
