#global
ISOFILE=openSUSE-11.2-GNOME-LiveCD-i686.iso
BASEURL=http://download.opensuse.org/distribution/11.2/iso/$ISOFILE
VER=11.2

#install
prepareiso $ISOFILE $BASEURL
copyfromiso /boot/i386/loader/linux /opensuse/linux-${VER}
copyfromiso /boot/i386/loader/initrd /opensuse/initrd-${VER}
geninitrd /opensuse/initrd-${VER} /opensuse/initrd-mod-${VER}.gz opensuse/opensuse-11.2.patch

#remove
rmfile /opensuse/linux-${VER}
rmfile /opensuse/initrd-${VER}
rmfile /opensuse/initrd-mod-${VER}.gz
purgefile /iso/$ISOFILE

# grub menu
#menu
title openSUSE ${VER} Live (GNOME)
kernel /opensuse/linux-${VER} ramdisk_size=512000 ramdisk_blocksize=4096 splash=silent quiet preloadlog=/dev/null fromiso=iso/$ISOFILE showopts
initrd /opensuse/initrd-mod-${VER}.gz
