# Parted Magic
#  http://partedmagic.com/

ISOFILE=pmagic-4.10.iso
ZIPFILE=pmagic-4.10.iso.zip
URL="http://downloads.sourceforge.net/project/partedmagic/partedmagic/Parted%20Magic%204.10/pmagic-4.10.iso.zip?use_mirror=autoselect"
MD5=cc82cdbff4892de2ccd5804bcbeec9a2
VER=4.10

#install
if [ ! -f iso/$ISOFILE ]; then prepareiso $ZIPFILE $URL && unzip -o -d iso iso/$ZIPFILE; fi
checksum iso/$ISOFILE $MD5
rm -fv iso/$ZIPFILE

#remove
purgefile /iso/$ISOFILE
purgefile /iso/$ZIPFILE

#menu
menuentry "Parted Magic ${VER}" {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/pmagic/bzImage noapic load_ramdisk=1 prompt_ramdisk=0 rw vga=791 sleep=10 loglevel=0 keymap=us iso_location=/iso
  echo "Loading initrd.."
  initrd (loop)/pmagic/initramfs
}
