# Puppy Linux

ISOFILE=lupu-501.iso
BASEURL=http://distro.ibiblio.org/pub/linux/distributions/puppylinux/puppy-5.0.1/$ISOFILE
VER=5.0.1

#install
prepareiso $ISOFILE $BASEURL
checksum /iso/$ISOFILE 0847331e9cdcb55eaae238924d131a24 md5
#copyiso puppy-5.0.1 $ISOFILE
copyfromiso /initrd.gz /boot/puppy/initrd-${VER}.gz
geninitrd /boot/puppy/initrd-${VER}.gz /boot/puppy/initrd-mod-${VER}.gz /boot/puppy/puppy-5.0.1.patch

#remove
rmfile /boot/puppy/initrd-${VER}.gz
rmfile /boot/puppy/initrd-mod-${VER}.gz
purgefile /iso/$ISOFILE

#menu
menuentry "Puppy Linux ${VER}" {
  savedefault
  loopback loop0 /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop0)/vmlinuz fromiso=iso/$ISOFILE
#  linux /puppy-5.0.1/vmlinuz psubdir=puppy-5.0.1 --
  echo "Loading initrd.."
  initrd /boot/puppy/initrd-mod-${VER}.gz
#  initrd /puppy-5.0.1/initrd.gz
}
