# Puppy Linux

ISOFILE=lupu-500.iso
URL=http://distro.ibiblio.org/pub/linux/distributions/puppylinux/puppy-5.0/$ISOFILE
MD5=e85a6b08e52c551871c84daefa9f8695
VER=5.0

#install
prepareiso $ISOFILE $URL
checksum /iso/$ISOFILE $MD5
geninitrd @iso/initrd.gz /boot/puppy/initrd-mod-${VER}.gz /boot/puppy/puppy-5.0.1.patch

#remove
rmfile /boot/puppy/initrd-mod-${VER}.gz
purgefile /iso/$ISOFILE

#menu
menuentry "Puppy Linux ${VER}" {
  savedefault
  loopback loop0 /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop0)/vmlinuz fromiso=iso/$ISOFILE
#  kernel /puppy-5.0/vmlinuz psubdir=puppy-5.0 --
  echo "Loading initrd.."
  initrd /boot/puppy/initrd-mod-${VER}.gz
#  initrd /puppy-5.0/initrd.gz
}
