# Puppy Linux
#  http://www.puppylinux.org/

URL=http://distro.ibiblio.org/pub/linux/distributions/puppylinux/puppy-5.1/lupu-510.iso
ISOFILE=lupu-510.iso
MD5=88f7154ffcc46062394866e531310eba
VER=5.1.0

#install
prepareiso $ISOFILE $URL
checksum /iso/$ISOFILE $MD5
geninitrd @iso/initrd.gz /boot/puppy/initrd-mod-${VER}.gz /boot/puppy/puppy-5.0.1.patch

#remove
rmfile /boot/puppy/initrd-mod-${VER}.gz
purgefile /iso/$ISOFILE

#menu
menuentry "Puppy Linux ${VER}" {
  savedefault
  loopback loop0 /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop0)/vmlinuz fromiso=iso/$ISOFILE
#  linux /puppy-5.0.1/vmlinuz psubdir=puppy-5.0.1 --
  echo "Loading initrd.."
  initrd /boot/puppy/initrd-mod-${VER}.gz
#  initrd /puppy-5.0.1/initrd.gz
}
