# SystemRescueCD
#  http://www.sysresccd.org/

ISOFILE=systemrescuecd-x86-1.5.8.iso
URL="http://sourceforge.net/projects/systemrescuecd/files/sysresccd-x86/1.5.8/systemrescuecd-x86-1.5.8.iso/download?use_mirror=autoselect"
MD5=a805785eae4699ae2b4b04e8abdc6b1b
VER=1.5.8

#install
prepareiso $ISOFILE $URL
checksum /iso/$ISOFILE $MD5

#remove
purgefile /iso/$ISOFILE

#menu
menuentry "SystemRescueCD ${VER} GUI" {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/isolinux/rescuecd isoloop=/iso/$ISOFILE scandelay=1 dostartx
  echo "Loading initial ram disk.."
  initrd (loop)/isolinux/initram.igz
}

menuentry "SystemRescueCD ${VER} Memtest86+" {
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux16 (loop)/bootdisk/memtestp
}

menuentry "SystemRescueCD ${VER} NTPASSWD: Edit Windows passwords" {
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/ntpasswd/vmlinuz rw vga=1
  echo "Loading initial ram disk.."
  initrd (loop)/ntpasswd/initrd.cgz
}

menuentry "SystemRescueCD ${VER} FreeDOS" {
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux16 (loop)/isolinux/memdisk floppy
  echo "Loading initial ram disk.."
  initrd16 (loop)/bootdisk/freedos.img
}

menuentry "SystemRescueCD ${VER} DBAN: Disk erase tool" {
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux16 (loop)/isolinux/memdisk floppy
  echo "Loading initial ram disk.."
  initrd16 (loop)/bootdisk/dban.img
}
