ISOFILE=slitaz-3.0.iso
BASEURL=http://mirror.slitaz.org/iso/3.0/$ISOFILE

#install
prepareiso $ISOFILE $BASEURL

#remove
purgefile /iso/$ISOFILE

#menu
menuentry "SliTaz 3.0" {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/boot/bzImage rw root=/dev/null vga=normal
  echo "Loading initrd.."
  initrd (loop)/boot/rootfs.gz
}
