# TinyCore
#  http://www.tinycorelinux.com/

URL=http://distro.ibiblio.org/pub/linux/distributions/tinycorelinux/3.x/archive/3.1/tinycore_3.1.iso
ISOFILE=tinycore_3.1.iso
MD5=80fb9e2f18d773899ccfe1bd587a7c7f
VER=3.1

#install
prepareiso $ISOFILE $URL
checksum /iso/$ISOFILE $MD5

#remove
purgefile /iso/$ISOFILE

#menu
menuentry "TinyCore ${VER}" {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/boot/bzImage quiet max_loop=256
  echo "Loading initrd.."
  initrd (loop)/boot/tinycore.gz
}
