# TinyCore
#  http://www.tinycorelinux.com/

URL=http://distro.ibiblio.org/pub/linux/distributions/tinycorelinux/3.x/release/tinycore_3.2.iso
ISOFILE=tinycore_3.2.iso
MD5=703862f5d0ee949ef9fc97c4be2dc6f5
VER=3.2

#install
prepareiso $ISOFILE $URL
checksum /iso/$ISOFILE $MD5

#remove
purgefile /iso/$ISOFILE

#menu
menuentry "TinyCore ${VER}" {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/boot/bzImage quiet max_loop=256
  echo "Loading initrd.."
  initrd (loop)/boot/tinycore.gz
}
