# Trisquel on a Sugar toast
#  http://wiki.sugarlabs.org/go/Trisquel_On_A_Sugar_Toast

URL=http://devel.trisquel.info/sugar/trisquel-sugar_4.5.1_i686.iso
ISOFILE=trisquel-sugar_4.5.1_i686.iso
SUM=f248ba858a12ec11347316ff23bee3c0
VER=sugar-4.5.1
PERSIST=casper-rw-trisquel-${VER}
UPDATEDIR=trisquel-${VER}

#install
prepareiso $ISOFILE $URL
checksum /iso/$ISOFILE $SUM
copyfromiso /casper/initrd /boot/trisquel/initrd-${VER}.lz
geninitrd_lzma /boot/trisquel/initrd-${VER}.lz /boot/trisquel/initrd-mod-${VER}.lz /boot/ubuntu/ubuntu-10.04.patch
rmfile /boot/trisquel/initrd-${VER}.lz

#remove
rmfile /boot/trisquel/initrd-mod-${VER}.lz
purgefile /iso/$ISOFILE

#command create-casper
[ ! -f $PERSIST ] || { echo "$PERSIST is exists. please delete it first."; false; }
SIZE=${1:-1024}
echo "Creating $PERSIST size:${SIZE}MB"
dd if=/dev/zero of=$PERSIST bs=1M count=$SIZE
mkfs.ext3 -j -F $PERSIST

#command move-to-squashfs
which mksquashfs >/dev/null || { echo "Please install squashfs-tools package."; false; }
NUM=1
UPDATEFILE=update${NUM}.squashfs
while [ -f $UPDATEDIR/$UPDATEFILE ]; do NUM=$(($NUM + 1)); UPDATEFILE=update${NUM}.squashfs; done
SQDIR=/mnt/tmpsq
RWDIR=/mnt/tmprw
rm -rf $SQDIR
mkdir -pv $UPDATEDIR $RWDIR $SQDIR
mount -v -o loop,rw $PERSIST $RWDIR
mkdir -pv $SQDIR/var
DIRS="bin lib usr sbin opt"
for dir in $DIRS; do cp -arv $RWDIR/${dir} $SQDIR/$(dirname $dir); done; true
mksquashfs $SQDIR $UPDATEDIR/${UPDATEFILE} -noappend
for dir in $DIRS; do rm -rfv $RWDIR/${dir}; done;
rm -rf $SQDIR
umount -v $RWDIR
rmdir -v $RWDIR

#menu
menuentry "Trisquel on a Sugar toast ${VER#sugar-} i686" --class ubuntu {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/casper/vmlinuz file=/cdrom/preseed/trisquel.seed boot=casper iso-scan/filename=/iso/$ISOFILE splash
  echo "Loading initrd.."
  initrd (loop)/casper/initrd
}

menuentry "Trisquel on a Sugar toast ${VER#sugar-} i686 with persistent" --class ubuntu {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/casper/vmlinuz file=/cdrom/preseed/trisquel.seed boot=casper persistent root_persistence=$PERSIST update-path=$UPDATEDIR iso-scan/filename=/iso/$ISOFILE splash
  echo "Loading initrd.."
#  initrd (loop)/casper/initrd
  initrd /boot/trisquel/initrd-mod-${VER}.lz
}
