# Ubuntu Japanese Remix
#  http://www.ubuntulinux.jp/

URL=http://ftp.jaist.ac.jp/pub/Linux/ubuntu-jp-cdimage/releases/10.04/ubuntu-ja-10.04-desktop-i386-20100512.iso
ISOFILE=ubuntu-ja-10.04-desktop-i386-20100512.iso
VER=ja-10.04
MD5=b6c179932e8fc8fd94d70f69b6cf592c
PERSIST=casper-rw-ubuntu-${VER}

#install
prepareiso $ISOFILE $URL
checksum /iso/$ISOFILE $MD5
geninitrd_lzma @iso/casper/initrd.lz /boot/ubuntu/initrd-mod-${VER}.lz /boot/ubuntu/ubuntu-10.04.patch

#remove
rmfile /boot/ubuntu/initrd-mod-${VER}.lz
purgefile /iso/$ISOFILE

#command create-casper
SIZE=${1:-1024}
echo "Creating $PERSIST size:${SIZE}MB"
dd if=/dev/zero of=$PERSIST bs=1M count=$SIZE
mkfs.ext2 -j -F $PERSIST

#menu
menuentry "Ubuntu-ja ${VER#ja-} i386" {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/casper/vmlinuz file=/cdrom/preseed/ubuntu.seed boot=casper iso-scan/filename=/iso/$ISOFILE splash
  echo "Loading initrd.."
  initrd (loop)/casper/initrd.lz
}

menuentry "Ubuntu-ja ${VER#ja-} i386 with persistent" {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/casper/vmlinuz file=/cdrom/preseed/ubuntu.seed boot=casper persistent root_persistence=$PERSIST iso-scan/filename=/iso/$ISOFILE splash
  echo "Loading initrd.."
#  initrd (loop)/casper/initrd.lz
  initrd /boot/ubuntu/initrd-mod-${VER}.lz
}
