# Ubuntu Desktop
#  http://www.ubuntu.com

URL=http://cdimage.ubuntu.com/cdimage/releases/maverick/alpha-3/maverick-desktop-i386.iso
ISOFILE=ubuntu-10.10-desktop-i386-alpha3.iso
SHA1=c1138a94bd8e515bfd04e4d5397b45d4f68312b0
VER=10.10-alpha3
PERSIST=casper-rw-ubuntu-${VER}

#install
prepareiso $ISOFILE $URL
checksum /iso/$ISOFILE $SHA1 sha1
geninitrd_lzma @iso/casper/initrd.lz /boot/ubuntu/initrd-mod-${VER}.lz /boot/ubuntu/ubuntu-10.04.patch

#remove
rmfile /boot/ubuntu/initrd-mod-${VER}.lz
purgefile /iso/$ISOFILE

#command create-casper
SIZE=${1:-1024}
echo "Creating $PERSIST size:${SIZE}MB"
dd if=/dev/zero of=$PERSIST bs=1M count=$SIZE
mkfs.ext2 -j -F $PERSIST

#menu
menuentry "Ubuntu ${VER} i386" --class ubuntu {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/casper/vmlinuz file=/cdrom/preseed/ubuntu.seed boot=casper iso-scan/filename=/iso/$ISOFILE splash
  echo "Loading initrd.."
  initrd (loop)/casper/initrd.lz
}

menuentry "Ubuntu ${VER} i386 with persistent" --class ubuntu {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/casper/vmlinuz file=/cdrom/preseed/ubuntu.seed boot=casper persistent root_persistence=$PERSIST iso-scan/filename=/iso/$ISOFILE splash
  echo "Loading initrd.."
#  initrd (loop)/casper/initrd.lz
  initrd /boot/ubuntu/initrd-mod-${VER}.lz
}
