ISOFILE=ubuntu-9.04-desktop-i386.iso
BASEURL=http://releases.ubuntu.com/9.04/$ISOFILE

#install
prepareiso $ISOFILE $BASEURL
checksum /iso/$ISOFILE 19aabf327fdbde9e66db54dc04e3a83b92f70280 sha1
#copyfromiso /casper/vmlinuz ubuntu/vmlinuz-9.04
#copyfromiso /casper/initrd.gz ubuntu/initrd-9.04.gz

#remove
purgefile /iso/$ISOFILE

#menu
menuentry "Ubuntu 9.04 i386" {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/casper/vmlinuz file=/cdrom/preseed/ubuntu.seed boot=casper iso-scan/filename=/iso/$ISOFILE splash
  echo "Loading initrd.."
  initrd (loop)/casper/initrd.gz
}

menuentry "Ubuntu 9.04 i386 with persistent" {
  savedefault
  loopback loop /iso/$ISOFILE
  echo "Loading kernel.."
  linux (loop)/casper/vmlinuz file=/cdrom/preseed/ubuntu.seed boot=casper persistent iso-scan/filename=/iso/$ISOFILE splash
  echo "Loading initrd.."
  initrd (loop)/casper/initrd.gz
}
