ISOFILE=ubuntu-8.04.4-desktop-i386.iso
BASEURL=http://releases.ubuntu.com/8.04.4
prepareiso $ISOFILE $BASEURL

#menu title Ubuntu 8.04.4 i386
#menu find --set-root /iso/ubuntu-8.04.4-desktop-i386.iso
#menu map /iso/ubuntu-8.04.4-desktop-i386.iso (0xff)
#menu map --hook
#menu root (0xff)
#menu kernel /casper/vmlinuz file=/cdrom/preseed/ubuntu.seed boot=casper iso-scan/filename=/iso/ubuntu-8.04.4-desktop-i386.iso splash
#menu initrd /casper/initrd.gz
